* {
  box-sizing: border-box;
}

html, body, #root {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
}


/* Typography */
h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 20px;
}

h2 {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0 15px;
}

h3 {
  font-size: 18px;
  margin: 0 0 20px;
}

p {
  font-size: 17px;
  line-height: 1.7;
  color: #333;
}
